<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio sesión</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">
  <link href="../statics/styles/inicio.css" rel="stylesheet" type="text/css"/>

</head>
<body>
  <div id="volver">Volver</div>
  <div id="fotos">
    <img src="../statics/img/logoNav.png" alt="logoNav" height="300px">
  </div>
  <p id="bienvenido" >¡Bienvenid@! </p><br>
  <p id="texto"> CoyoMind es una plataforma que te conectará con la comunidad <br> de la Prepa 6 para ayudarte en tu rendimiento académico <br> y hacer que tu estancia en la prepa sea mejor. <br> </p>
  <p id="recuerda"> ¡Recuerda; Coyote, ayuda a hermano Coyote! </p>
  <!-- <div id="izq" >
   <h1>Virtute aaaaaaaaaaaaaaaaaaaaequidem ceteros in mel. Id volutpat neglegentur eos. Eu eum facilisis voluptatum, no eam albucius verterem. Sit congue platonem adolescens ut. Offendit reprimique et has, eu mei homero imperdiet.
  </h1>
  </div> -->
  <div id="der" >
    <!-- <div id="cuadro"> -->
      <form id="ini" action="">
        <label for="mail">
          <input type="email" name="mail" id="email" placeholder="correo@ejemplo.com" required>
        </label>
        <br><br>
        <label for="password">
          <input type="password" name="password" id="pw" placeholder="Contraseña" required>
          <p id="mostrarPass">Mostrar contraseña:</p> <input type="checkbox" id="checkboxPass">
        </label>
        <br><br>
        <button type="button" id="Inicia" tabindex="1" >Iniciar Sesión</button><hr>
      </form>
   <div tabindex="1"><p>¿No tienes cuenta? <a href="./creaCuenta.html">Crea una</a></p></div>
    <!-- </div> -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 
  <script src="../dynamics/js/inicio.js"></script>

</body>
</html>