<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportar</title>
    <link href="../statics/styles/reporte.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="navbar" class="navClass">
        <div id="logo" class="navClass"><img id="logoImg" src="../statics/img/logoNav.png" alt="Logo enp6" ></div>
        <div id="nav_colegios" class="navClass"></div>
        <div id="inicioSesion" class="navClass"><p id="sesionText">Iniciar Sesión/Registrarse</p></div>
        <div id="perfil" class="navClass"><img id="imgPerfil" src="../statics/img/perfil.png" alt="" width="80px" height="80px" ></div>        
  </div>
  <h1 id="titu">Reporta este usuario</h1>
  <div id="repor">
    <label for="ausente" id="lausente">El asesor no se presentó</label>
    <input type="radio" id="ausente" name="ausente"><br>
    <label for="abuso" id="labuso">Abuso físico y verbal</label>
    <input type="radio" id="abuso" name="abuso"><br>   
    <label for="acoso" id="lacoso">Acoso</label>
    <input type="radio" id="acoso" name="acoso"><br>  
    <label for="spam" id="lspam">Spam</label>
    <input type="radio" id="spam" name="spam"><br>  
    <label for="datos" id="ldatos">Datos personales falsos</label>
    <input type="radio" id="datos" name="datos"><br> 
    <!-- <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="reportado"> -->
  </div>
</body>
</html>